[project]
	description = PAC-Roms vendor.
[contributor-agreement "Code of Conduct"]
	description = If you are contributing code AND hoping to be a member of the PAC organization, you must also agree to and uphold the code of conduct.
	agreementUrl = static/codeofconduct.html
	autoVerify = group Contributors Agreement
	accepted = group Contributors Agreement
[receive]
	requireContributorAgreement = true
