# Allow init to setenforce to set SELinux permissive
# Allow init to change SELinux to permissive, mostly for TWRP
# purposes.
#
# neverallow domain kernel:security setenforce;
# Override AOSP settings above for setenforce to allow init.rc to set
# SELinux into permissive, mostly for TWRP purposes.
neverallow { domain -init } kernel:security setenforce;
